body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding: 0 2rem;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
}

.container{
    display: flex;
    justify-content: space-between;
}
.header-left-name{
    display: flex;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    list-style: none;
    gap: 2rem;
}