.wrapper {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: relative;
}

.cover {
  width: 600px;
  height: 300px;
}

.cover img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
}

.avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  margin-top: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadBtn {
  position: absolute;
  top: calc(100% + 120px);
  left: 50%;
  transform: translateX(-50%);
}
